* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

#toggle-dark-mode {
    background: #007bff;
    color: white;
    border: none;
    padding: 1.5vh 2.5vh;
    cursor: pointer;
}

#toggle-dark-mode:hover {
    background: #0056b3;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 194, 73);
    background: -moz-linear-gradient(0deg, rgba(255, 194, 73, 1) 0%, rgba(254, 122, 73, 1) 0%, rgba(255, 97, 73, 1) 45%, rgba(255, 81, 209, 1) 75%, rgba(255, 56, 230, 1) 100%, rgba(255, 238, 206, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 194, 73, 1) 0%, rgba(254, 122, 73, 1) 0%, rgba(255, 97, 73, 1) 45%, rgba(255, 81, 209, 1) 75%, rgba(255, 56, 230, 1) 100%, rgba(255, 238, 206, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 194, 73, 1) 0%, rgba(254, 122, 73, 1) 0%, rgba(255, 97, 73, 1) 45%, rgba(255, 81, 209, 1) 75%, rgba(255, 56, 230, 1) 100%, rgba(255, 238, 206, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc249", endColorstr="#ffeece", GradientType=1);
}

#card{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    overflow: hidden;
    width: 450px;
    height: 80vh;
    max-width: 100%;

    position: relative;
    margin: 30px auto;
    margin-top: 10vh;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

#card:hover {
    transform: scale(1.05);
}
.stories{
    height: 200px;
    width: 100%;
    background-color: rgb(229, 196, 196);
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: content-box;
}

.stories::-webkit-scrollbar{
    height: 3px;
    background-color: #8e0d0d;
}

.story{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid maroon;
    background-color: #ffcc00;
    display: inline-block;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out;
}

.story:hover {
    transform: scale(1.1);
}


.story img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width: 100%;

    background-size: cover;
    background-position: center;
    display: none;
}

/* dark mode */
.dark-mode {
    background: linear-gradient(145deg, #0f0f0f, #3e3e3e, #0f0f0f);
    color: #e0e0e0;
}

.dark-mode header{
    background-color: #000000;
}

.dark-mode .story {
    background-color: #555;
}
.dark-mode .stories{
    background-color: #555;
}
.dark-mode #card {
    background: hsl(0, 1%, 46%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}